@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

*::selection{
	background: #d9832e;
	color: #fff;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
	background: #d9832e;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
